<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Company title</th>
      <th>Company description</th>
      <th>Company industry</th>
      <th>Job title</th>
      <th>Job description</th>
      <th>Firstday</th>
      <th>Lastday</th>
      <th>Personal note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.company_title %></td>
        <td><%= profile.company_description %></td>
        <td><%= profile.company_industry %></td>
        <td><%= profile.job_title %></td>
        <td><%= profile.job_description %></td>
        <td><%= profile.firstday %></td>
        <td><%= profile.lastday %></td>
        <td><%= profile.personal_note %></td>
        <td><%= link_to 'Show', profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume', new_profile_path %>
