<div class="panel">

	<div class="row">
		<div class="medium-7 columns">
			<h3><%= link_to project.title, project.demo_url, :target => "_blank" %></h3>
			<h5><%= project.headline %></h5>
		</div>
		<div class="medium-5 columns">
			<span style="float: left">View: </span>
			<span style="float: right"> 
				<%= link_to "Demo", project.demo_url, :target => "_blank" %> |
				<%= link_to "Code", project.git_url, :target => "_blank" %>
			</span><br />
			<span style="float: left">Version: </span>
			<span style="float: right">
				<%= project.version %>
			</span><br />
			<span style="float: left">Last Updated: </span>
			<span style="float: right">
 				<%= project.lastpublished.strftime("%b %d, %Y") %>
			</span><br />
			<span style="float: right">(created 
				<%= time_ago_in_words(project.firstpublished) %> ago)
			</span>				
		</div>
	</div>


	<hr />
	<%= simple_format project.description %> 
	<hr />
	<div class="row">
		<div class="medium-6 columns" style="border-right: 1px solid; border-color: #D8D8D8;">
			<STRONG>Features</STRONG><br />
			<ul>
			<% project.project_features.each do |feature| %>
				<li><%= feature.description %></li>
			<% end %>
			</ul>
		</div>
		<div class="medium-6 columns">
			<STRONG>Pictures</STRONG><br />
			
		</div>
	</div>
	<hr />	
	<div class="row">
		<div class="medium-6 columns" style="border-right: 1px solid; border-color: #D8D8D8;">
			<STRONG>Mentions</STRONG><br />
			<ul>
			<% project.project_mentions.each do |mention| %>
				<li><%= link_to mention.title, mention.url %> on <%= mention.published.strftime("%b %d, %Y") %></li>
			<% end %>
			</ul>
		</div>
		<div class="medium-6 columns">
			<STRONG>Blog Posts</STRONG><br />
			<ul>
	            <% Blog.where(project_id: project.id).each do |blog| %>
	              <li><%= link_to blog.title, blog_path(blog) %></li>
	            <% end %>
            </ul>		
		</div>
	</div> 
</div>