<article class="panel" style="margin-bottom: 25px;">

	<h3>
		<%= resume.job_title %>
		 at <%= link_to resume.company_title, resume.company_url, :target => "_blank" %>
	</h3>
	<h6>
		<%= resume.firstday.strftime("%B %Y") %> - 
		<% if resume.lastday.future? %>
		<% resume.lastday=Time.now() %>
			Present
		<% else %> 
			<%= resume.lastday.strftime("%B %Y") %>
		<% end %>

		<% totalmonths = (resume.lastday.year * 12 + resume.lastday.month) - (resume.firstday.year * 12 + resume.firstday.month)  %>
		<% monthsat = totalmonths%12 %>
		<% if totalmonths > 12 %>
			<% yearsat = totalmonths/12 %>
			(<%= time_ago_in_words(yearsat.years.ago)+" "+time_ago_in_words(monthsat.months.ago) %>)
		<% else %>
			(<%= time_ago_in_words(monthsat.months.ago) %>)
		<% end %>
	</h6>	
	<hr />
	<%= simple_format resume.company_description %>
	<%= simple_format resume.job_description %>
	<span style="padding:10x; font-weight: bold;">Accomplishments</span>
	<ul>
	<% resume.resume_accomplishments.each do |accomplishment| %>
		<li><%= accomplishment.description %></li>
	<% end %>
	</ul>

</article>