<%# add navigation links to this file %>
<ul class="left">
	<li class="active"><%= link_to "Resume", resumes_path %></li>
	<li><%= link_to "Blog", blogs_path %></li>
	<li><%= link_to "Projects", projects_path %></li>
</ul>

<ul class="right">
  <li class="active">
    <%= link_to "Contact", new_contact_path %>
  </li>
  <li>
    <%= link_to "Google+", 'https://plus.google.com/+FlorianMettetal/', :target => "_blank" %>
  </li>       
  <li>
    <%= link_to "Twitter", 'https://twitter.com/FlorianMettetal', :target => "_blank" %>
  </li>   
</ul>


