<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Auditorium" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Auditorium" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <!-- Main Page Content and Sidebar -->
      <div class="row">       
        <div class="large-8 columns" role="content">
          <%= yield %>
        </div>
      <!-- Sidebar -->
      <div style="width: 100%; height:45px;"></div>
      <aside class="large-4 columns">
        <div class="panel">
          <%= render 'layouts/sidebar' %>
        </div>
      </aside>
      <!-- End Sidebar -->
    </div>
    <!-- End Main Content and Sidebar -->   
    </main>
 
    <!-- Footer -->
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
            <p><%= link_to "Source & License", "https://github.com/falieson/auditorium/", :target => "_blank" %></p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Preferred Link 1</a></li>
              <li><a href="#">Preferred Link 2</a></li>
              <li><a href="#">Preferred Link 3</a></li>
              <li><a href="#">Preferred Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>  

  </body>
</html>
